body{
    background-size: cover;
    background: url("../media/images/bread-1281053_1920.jpg") ;

}

.brand {
    font-size: 165px;
    font-weight: bolder;
    color: black;
    text-wrap: nowrap;

    @media screen and (max-width: 600px) {
        & {
            font-size: 80px;
        }
    }
}


.first-section{
    height: 95vh;
}

.footer-section{
  height: 15vh;
}

.image-container-1 {
    width: 300px; /* Carré */
    height: 300px; /* Carré */
    background-image: url('../media/images/culinary-3923667_1280.jpg');
    background-size: cover; /* Remplit le cadre sans déformer */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite les répétitions */
}
.image-container-2 {
    width: 300px; /* Carré */
    height: 300px; /* Carré */
    background-image: url('../media/images/culinary-3923687_1280.jpg');
    background-size: cover; /* Remplit le cadre sans déformer */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite les répétitions */
}
.image-container-3 {
    width: 300px; /* Carré */
    height: 300px; /* Carré */
    background-image: url('../media/images/galette-des-rois-1119699_1280.jpg');
    background-size: cover; /* Remplit le cadre sans déformer */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite les répétitions */
}

.separator {
    height: 30vh;
}