body{
    background-size: cover;
    background: url("../media/images/bread-1281053_1920.jpg") no-repeat;

}

.brand {
    font-size: 165px;
    font-weight: bolder;
    color: black;
    text-wrap: nowrap;

    @media screen and (max-width: 600px) {
        & {
            font-size: 80px;
        }
    }
}


.first-section{
    height: 95vh;
}

.footer-section{
  height: 15vh;
}